body{
    background-color: #FFFFFF;
}

#Contact-color{
    color: #555555;
}


#Contact-bg-col{
    background-color: #7CB9E8;
}

#contact-last i{
    font-size: 30px;
}

#con-bg{
    background-color: #edf0f2;
}


#a-gst a{
    text-decoration: none;
}